div(class='wide-nav-bar')
  div(class='nav-frame')
    div(class='w-400-norm w-400-left')
      a(href='/')
        p(class='logoh1')='Un Latte'
    div(class='w-400-norm w-400-center')
      input(type='text' class='searchbar' placeholder='Search' id='search-bar' onInput='updateSearchParam(this)' onChange='rdSearchResults(this)')
    div(class='w-400-norm w-400-right')  
      if (user != null)
        a(href='/profile')
          div(class='ui-name-logo')
            h1=user.username.slice(0, 2).toUpperCase()
      else 
        div(style='display: flex; margin-right: 20px !important;')
          a(href='/login' style='color: #5585d5; margin: 5px;')='login'
          p(style='color: white')='or'
          a(href='/register' style='color: #5585d5; margin: 5px;')='register'
  div(class='nav-frame-hollow')

div(class='thin-nav-bar')
  div(class='nav-frame')
    div(class='w-400-norm w-400-left')
      a(href='/')
        p(class='logoh1')='Un Latte'
    div(class='w-400-norm w-400-center')
      input(type='text' class='searchbar' placeholder='Search' id='search-bar' onInput='updateSearchParam(this)' onChange='rdSearchResults(this)')
    div(class='w-400-norm w-400-right')  
      if (user != null)
        a(href='/profile')
          div(class='ui-name-logo')
            h1=user.username.slice(0, 2).toUpperCase()
      else 
        div(style='display: flex; margin-right: 20px !important;')
          a(href='/login' style='color: #5585d5; margin: 5px; font-size: 32px;')='login'

div(class='sbdivhelper')
  div(id='search-result-box' class='srb hidden')

script.
  function rdSearchResults(element){
    let searchString = element.value.split(' ').join('%20')
    if (searchString == ''){
      return
    }else{
      window.location.href = '/search/' + searchString
    }
  }

  function updateSearchParam(element){
    document.showSResults = true
    let searchString = element.value.split(' ').join('%20')
    if (searchString == ''){
      document.getElementById('search-result-box').classList.add('hidden')
      document.showSResults = false
      return
    }else{
      document.getElementById('search-result-box').classList.remove('hidden')
    }

    let xmlHttp = new XMLHttpRequest()
    xmlHttp.onreadystatechange = function() { 
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        updateScreenData(JSON.parse(xmlHttp.responseText).results)
      }
    xmlHttp.open('GET', '/api/search/' + searchString, true) // true for asynchronous 
    xmlHttp.send(null)
  }

  function updateScreenData(results){
    var resultBox = document.getElementById('search-result-box')
    var parentNode = resultBox.parentNode
    parentNode.removeChild(resultBox)

    resultBox = document.createElement('div')
    resultBox.setAttribute('id', 'search-result-box')
    resultBox.setAttribute('class', (document.showSResults) ? 'srb' : 'srb hidden')

    parentNode.appendChild(resultBox)
    var resultBox = document.getElementById('search-result-box')

    for (let i = 0; i < results.length; i++){
      let anime = results[i]

      let a = document.createElement('a')
      a.setAttribute('href', '/anime/' + anime.id)
      a.setAttribute('class', 'anime-a-post')

      let div = document.createElement('div')
      div.setAttribute('class', 'anime-result-div')

      let thumb = document.createElement('img')
      thumb.setAttribute('class', 'minithumbdiv')
      thumb.setAttribute('src', anime.thumbnail)

      let title = document.createElement('p')
      title.setAttribute('class', 'animetitlepsinres')
      title.innerHTML = anime.title

      div.appendChild(thumb)
      div.appendChild(title)
      a.appendChild(div)
      resultBox.appendChild(a)
    }
  }